
{% if containerClass is not defined %}
    {% set containerClass = 'col-lg-4 col-md-6 col-sm-12' %}
{% endif %}

<div class="{{ containerClass }}">



{#        {% set displayPrice = true %}#}
{#        {% if user is defined %}#}
{#            {% if app.user == user %}#}
{#                {% set displayPrice = false %}#}
{#            {% endif %}#}
{#        {% endif %}#}
{#        {% if displayPrice %}#}
{#            <div>#}
{#                {{ game.price }}€#}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}
{#</div>#}


<div class="row">
    <div class=" card-nft-container col-md-4 " >
        <div class="card mb-4 rounded-3" style="width: 18rem;">
            <img  src="{{ nft.image }}" alt="{{ nft.name }}" class="card-img-top rounded-3 shadow-lg" >
            <div class="card-body text-center ">
                <h5 class="card-title">{{ nft.name }}</h5>
                <p class="card-text">
                    {{ nft.currentValue }}€ </p>
                <a href="{{ path('app_nft_show', {'slug': nft.slug}) }}" class="btn btn-primary">Voir les details</a>
            </div>
        </div>
    </div>
</div>
</div>