{% extends 'front/base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}
    {{ 'pages.user.register.title'|trans }}
{% endblock %}
{% block body %}

    <h1 class="text-center">{{ 'pages.user.register.title'|trans }}</h1>

    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        {{ form_start(form) }}
        <div class="my-4">
            {{ form_row(form.firstName) }}
        </div>
        <div class="my-4">
            {{ form_row(form.lastName) }}
        </div>
        <div class="my-4">
            {{ form_row(form.birthAt) }}
        </div>
        <div>
            {{ form_row(form.gender) }}
        </div>
        <div>
            {{ form_row(form.email) }}
        </div>

        <div>
            {{ form_row(form.password) }}
        </div>
        <div>
            {{ form_row(form.image) }}
        </div>
        <div>
            {{ form_row(form.address) }}
        </div>
{#        {% if form.address.vars.value %}#}
{#            <div class="my-4">#}
{#                {{ form_row(form.address.city) }}#}
{#            </div>#}
{#            <div class="my-4">#}
{#                {{ form_row(form.address.street) }}#}
{#            </div>#}
{#        {% endif %}#}
        <button class="btn btn-success my-4">
            {{ 'common.button.confirm'|trans }}
        </button>
        {{ form_end(form) }}
    </div>

{% endblock %}
