{% extends 'front/base.html.twig' %}

{% block body %}
    {% if containerClass is not defined %}
        {% set containerClass = 'col-lg-4 col-md-6 col-sm-12' %}
    {% endif %}
    <h1>Liste des nfts</h1>
    <div class="row ">
        {% for nft in nfts %}
            <div class="{{ containerClass }}">
                <div class="card-nft-container " style="width: 40rem; height: 40rem;">
                    <img src="{{ nft.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-category-name">{{ nft.name }}</h5>
                        <p class="card-text"> Date de création:{{ nft.dropAt|date('d/m/Y') }}</p>
                        <a href="{{ path('app_n_f_t_show') }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

